@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #171717;
  --secondary: #ffffff;
  --highlight: #494949;
  --gold: rgb(250 204 21);
}

body {
  color: var(--secondary);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
